<mat-card *ngIf='check' class="example-card view">
    <mat-card-header>
        <mat-card-title style="margin-left: 100%">Login</mat-card-title>
      </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Contact Number(Last 5 Digits)</mat-label>
              <input type="number" matInput placeholder="Contact Number(Last 5 Digits)" [formControl]="number" required>
              <mat-error *ngIf="number.invalid">Required</mat-error>
            </mat-form-field>
          </div>
          <br>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [formControl]="pass" required>
              <mat-error *ngIf="pass.invalid">Required</mat-error>
            </mat-form-field>
          </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-left: 30%" (click)='checkuser()' >Login</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf='!check' class="example-card viewrules">
    <mat-card-header>
        <mat-card-title>Dear Participants, Following are some instructions, Please read it carefully</mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <div>
        <ol>
          <li>Quiz will only be available for 30 mins.</li>
          <li>Participant should have to login in those 30 mins.</li>
          <li>There is only one time login if you try to log out from website or close that website then your quiz marks will be considered as zero.</li>
          <li>Last 5 digits of your Number (Provided when you filled registration form) will be your USERNAME for login.</li>
          <li>In registration form each participant has entered password, that will be your password for login.</li>
          <li>There will be total 50 questions</li>
          <li>Each question will have 15 sec time for which TIMER will be visible when you start your quiz.</li>
          <li>After 15 second next question will appear.</li>
          <li>Participant have to solve all 50 questions for marking otherwise your Quiz will be considered as ZERO.</li>
        </ol>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)='proceed()' >Proceed</button>
    </mat-card-actions>
  </mat-card>
  