

<div class="view" *ngIf='!check && data'>
<mat-card class="example-card mat-elevation-z4">
  <mat-card-header>
    
    <mat-card-title>{{count +1}}: {{data.questions[count].question}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" [(ngModel)]="answer">
      <mat-radio-button *ngFor="let opt of data.questions[count].options" [color]='"primary"' class="example-radio-button" [value]="opt">
        {{opt}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button style="float: right;" mat-raised-button color="primary" (click)='changeq()'>Submit</button>
  </mat-card-actions>
</mat-card>
<div style="display: flex;flex-direction: column;justify-content: center;margin-bottom: 40px;margin-top: 10px;">
<mat-spinner [color]="this.timeLeft < 6? 'warn': 'primary'" style="margin: 0 auto;"></mat-spinner>
<h1 style="text-align: center;">{{this.timeLeft}}</h1>
</div>
</div>
<webcam [height]="500" (initError)="handleInitError($event)" hidden [width]="500" [trigger]="triggerObservable"  (imageCapture)="handleImage($event)"></webcam>
<!-- Button Takes Photo -->

<!-- Snapshot Div where image will be shown -->

<div *ngIf='check' style="margin: 10% 0px 0px 0px;">
  <img src='assets/thank.png' class="center">
  <h1 style="text-align: center;">Result is sended to your instructor</h1>
</div>




