@media (max-width: 768px) {
  /* CSS in here for mobile only */
  .view{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: -webkit-fill-available;
    margin-top: 20%;
  }
}

@media (min-width: 769px) {
  /* CSS in here for desktop only */
  .view{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}



.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }


  .example-card {
    max-width: 400px;
  }
  
  .example-icon {
    padding: 0 14px;
  }


  


